@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

:root {
    /* Main colors */
    --orange: hsl(26, 100%, 55%);
    --paleOrange: hsl(25, 100%, 94%);
    /* Neutral colors */
    --veryDarkBlue: hsl(220, 13%, 13%);
    --darkGrayishBlue: hsl(219, 9%, 45%);
    --grayishBlue: hsl(220, 14%, 75%);
    --lightGrayishBlue: hsl(223, 64%, 98%);
    --white: hsl(0, 0%, 100%);
    --black: hsl(0, 0%, 0%);
    --font: "Kumbh Sans", sans-serif;
    /* (with 75% opacity for lightbox background) */
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: var(--white);
    font-family: var(--font);

    display: flex;
    flex-direction: column;
    align-items: center;
}

.header {
    border-bottom: 2px solid var(--lightGrayishBlue);
    width: 90%;
    max-width: 1000px;
    padding: 1rem 0;
    position: relative;

    display: flex;
    justify-content: space-between;
}

.header__items {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__iconMenu {
    cursor: pointer;
    display: none;
}

.header__title {
    height: auto;
    width: 25%;
}

.header__menu {
    display: flex;
    align-items: center;
    gap: 1rem;
    transition: all 0.5s ease;
    user-select: none;
}

.header__iconClose {
    display: none;
}

.headerLinks {
    color: var(--darkGrayishBlue);
    font-size: 0.8rem;
    text-decoration: none;
    width: 100%;
    position: relative;
}

.headerLinks:hover {
    color: var(--black);
}

.headerLinks--active::after {
    content: "";
    position: absolute;
    background: var(--orange);
    height: 4px;
    width: 100%;
    bottom: -35px;
    left: 0;
    animation: borderBottom 300ms ease;
}

@keyframes borderBottom {
    0% {
        width: 0;
    }

    100% {
        width: 100%;
    }
}

.header__options {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 2rem;
}

.headerBtn {
    background: none;
    outline: none;
    border: none;
    cursor: pointer;
}

.header__btnShop {
    position: relative;
}

.header__badge {
    background: var(--orange);
    border-radius: 15px;
    color: var(--white);
    top: -5px;
    right: -5px;
    position: absolute;
    padding: 2px 5px;
    font-size: 0.5rem;

    display: grid;
    place-items: center;
}

.badge--hide {
    display: none;
}

.header__btnProfile {
    border-radius: 50%;
    width: 30%;
    height: auto;
    border: 2px solid transparent;
}

.headerBtn--active {
    border: 2px solid var(--orange);
}

.header__icon-profile {
    height: auto;
    width: 100%;
}

.cardShop {
    background: var(--white);
    border-radius: 5px;
    box-shadow: 0px 20px 15px 8px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 100%;
    right: 0;
    z-index: 1;
    min-width: 340px;
    min-height: 205px;

    display: flex;
    flex-direction: column;
}

.cardShop--hide {
    display: none;
}

.cardShop__header {
    border-bottom: 2px solid var(--lightGrayishBlue);
}

.cardShop__title {
    font-weight: bold;
    padding: 1.2rem;
}

.cardShop__body {
    padding: 1.2rem;
}

.cardShop__textEmpty {
    color: var(--darkGrayishBlue);
    text-align: center;
    margin-top: 10%;
    font-weight: bold;
}

.cardShop__product {
    display: flex;
    align-items: center;
    gap: 1rem;
    padding-bottom: 1.2rem;
}

.cardShop__img {
    border-radius: 4px;
    width: 40px;
    height: auto;
}

.cardShop__totalPrice {
    font-weight: bold;
}

.header__RemoveItem,
.cardShop__btnCheckout {
    cursor: pointer;
    transition: all 0.3s ease;
}

.header__RemoveItem:hover,
.cardShop__btnCheckout:hover {
    opacity: 0.4;
}

.cardShop__btnCheckout {
    background: var(--orange);
    border: none;
    border-radius: 8px;
    color: var(--white);
    font-weight: bold;
    width: 100%;
    outline: none;
    padding: 1rem;
}

.main {
    width: 90%;
    max-width: 1000px;
    margin-top: 4rem;

    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.gallery {
    width: 35%;

    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
}

.gallery__close {
    display: flex;
    justify-content: flex-end;
    width: 100%;
}

.gallery__headerContainer {
    border-radius: 14px;
    width: 100%;
    position: relative;

    display: flex;
    align-items: center;
}

.gallery__headImage {
    border-radius: 0.8rem;
    width: 100%;
    height: auto;
}

.gallery__btnMove {
    background: var(--white);
    border: none;
    border-radius: 50%;
    cursor: pointer;
    padding: 1rem;
    position: absolute;
    width: 50px;
    height: 50px;
    right: 100%;
    transform: translate(50%);

    display: none;
    justify-content: center;
    align-items: center;
}

.btnLightbox {
    display: flex;
}

.gallery__btnMove:hover {
    color: var(--orange);
}

.gallery__btnMove--right {
    right: 0%;
}

.gallery__carrousel {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 1rem;
}

.gallery__image {
    border-radius: 10px;
    cursor: pointer;
    width: 100%;
    height: auto;
    transition: opacity 0.3s ease;
}

.gallery__image:hover {
    opacity: 0.4;
}

.image--active {
    border: 2px solid var(--orange);
}

/* main products info */
.main__content {
    width: 70%;
    max-width: 400px;

    display: flex;
    flex-direction: column;
    justify-content: center;
}

.main__productCompany {
    color: var(--orange);
    padding-bottom: 0.5rem;
    font-weight: bold;
    font-size: 0.8rem;
}

.main__productTitle {
    font-size: 2.5rem;
}

.main__productInfo {
    font-size: 0.9rem;
    color: var(--darkGrayishBlue);
    padding: 1rem 0;
    line-height: 1.5rem;
}

.main__productPrice {
    font-size: 1.5rem;
    font-weight: bold;

    display: flex;
    align-items: center;
    gap: 1rem;
}

.main__productDiscount {
    background: var(--paleOrange);
    color: var(--orange);
    padding: 4px 6px;
    border-radius: 6px;
    font-size: 1rem;
}

.main__productPreviousPrice {
    color: var(--grayishBlue);
    text-decoration: line-through;
    font-weight: bold;
    font-size: 0.8rem;
    padding: 0.4rem 0 1.2rem 0;
}

.main__buttons {
    display: flex;
    gap: 1rem;
    padding-bottom: 1.5rem;
}

.main__amountOptions {
    background: var(--lightGrayishBlue);
    width: 160px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main__amountOptions,
.main__btnConfirm {
    border-radius: 10px;
}

.btnEditAmount,
.main__btnConfirm {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    padding: 0.8rem;
    transition: all 0.3s ease;

    display: flex;
    align-items: center;
}

.btnEditAmount:hover,
.main__btnConfirm:hover {
    opacity: 0.4;
}

.main__amount {
    font-weight: bold;
}

.main__btnConfirm {
    background: var(--orange);
    color: var(--white);

    justify-content: center;
    flex-grow: 1;
    gap: 1rem;
}

.btnIconCart {
    filter: brightness(0) invert(1);
}

/* light box */

.main__lightbox {
    background: none;
    border: none;
    outline: none;
    margin: auto;
    width: 90%;
}

.main__lightbox::backdrop {
    background: black;
    opacity: 0.7;
}

.main__lightboxBody {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

.main__lightboxClose {
    background: none;
    border: none;
    cursor: pointer;
    outline: none;
    text-align: end;
    align-self: center;
}

.main__lightboxClose path {
    transition: all 0.3s ease;
    fill: var(--white);
}

.main__lightboxClose:hover path {
    fill: var(--orange);
}

.gallery__carrousel--width {
    width: 80%;
}

.gallery--width {
    min-width: 400px;
}

@media only screen and (max-width: 768px) {
    body:has(.menu--active)::after {
        background: black;
        content: "";
        opacity: 0.7;
        width: 100vw;
        height: 100vh;
        position: fixed;
        top: 0;
    }

    .header__menu {
        background: white;
        position: fixed;
        font-weight: bold;
        top: 0;
        left: -100%;
        height: 100vh;
        width: 70%;
        max-width: 300px;
        padding: 1rem;
        z-index: 1;

        flex-direction: column;
        align-items: start;
    }

    .headerLinks {
        color: var(--black);
    }

    .headerLinks--active::after {
        bottom: -5px;
    }

    .menu--active {
        left: 0;
    }

    .header__iconClose {
        cursor: pointer;
        display: block;
        padding-bottom: 2rem;
    }

    .header__iconMenu {
        display: block;
    }

    .header__items {
        justify-content: flex-start;
        gap: 1rem;
    }

    .header__title {
        width: 75%;
    }

    .main {
        margin-top: 0;
        max-width: 600px;
        width: 100%;
        gap: 1.8rem;
    }

    .main__content {
        width: 90%;
        max-width: 600px;
    }

    .main__productTitle {
        font-size: 1.6rem;
    }

    .main__priceInfo {
        display: flex;
        justify-content: space-between;
    }

    .gallery {
        width: 60%;
    }

    .gallery__image {
        display: none;
    }

    .main__lightboxBody > .gallery__btnMove {
        display: flex;
        border: 1px solid var(--grayishBlue);
    }

    .gallery__btnMove {
        display: flex;
    }

    .main__buttons {
        flex-direction: column;
    }

    .main__amountOptions {
        width: 100%;
    }
}

@media only screen and (max-width: 500px) {
    .cardShop {
        top: 115%;
        width: 100%;
    }

    .gallery,
    .gallery__headImage {
        width: 100%;
        object-fit: cover;
    }

    .gallery__headImage {
        height: auto;
        border-radius: 0;
    }

    .gallery__btnMove {
        right: 90%;
    }

    .gallery__btnMove--right {
        right: 10%;
    }
}
